@font-face {
  font-family: avenir;
  src: url(Avenir.ttc);
}

#app {
  background-color: #7FA092  ;
}

.right-block {
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 0;
  width: 30px;
  background-color: #ADE1F4;
}

.right-block-thick {
  position: absolute;
  right: 30px;
  height: 100vh;
  top: 0;
  width: 80px;
  background-color: #EA866B;

}

.jumbotron {
  height: 100vh !important;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  padding-top: 100px;
}

#home {
  position: relative;
}

#definition {
  width: 50%;
  height: 35vh;
  margin-top: 20vh;
  float: left;
  color: white;
}

p span {
  color: #FAEC6D;
}

#search {
  width: 50%;
  height: 35vh;
  margin-top: 20vh;
  float: left;
  position: relative;
}

#search form {
  text-align: center;
  position: relative;
}

#search form input {
  width: 26vw;
  height: 2.9vw;
  border-color: transparent;
  border-style: none;
  padding: 15px;
  margin-top: 40px;
  border: none;
  font-family: avenir, Helvetica, sans-serif;
}

#search form button {
  margin-top: 30px;
  background-color: transparent;
  border-color: #FAEC6D;
  border: 5.5px solid #FAEC6D;
  padding: 6px 20px;
  border-radius: 1px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: avenir, Helvetica, sans-serif;
  width: 26vw;
  height: 2.9vw;
}

#search form button:hover {
  background-color: rgba(173, 225, 244, 1);
  border-color: rgba(173, 225, 244, 1);
}

#PlacesAutocomplete__autocomplete-container {
  border: none !important;
  width: 26vw !important;
  margin: 0 auto !important;
  position: relative !important;
  text-align: left;
}

.container.p-y-1 {
  margin: 0px 10px;
  width: 100%;
  padding: 0px;
}

.navbar-brand {
  height: 100px;
}

.navbar-brand img {
  width: 250px;
  height: auto;
}

